$breakpoint: 1200px;
$maxWidth: 1500px;

.containerWrapper {
  height: 100vh;
  margin: 0 auto;
  max-width: $maxWidth;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 'feedback searchbox' 'feedback verts' 'guide results' 'filters results' 'filters page';
    height: 100%;

    .feedback {
      background: cadetblue;
      color: #fff;
      grid-area: feedback;
      padding: 1rem;
    }

    .filters {
      background: crimson;
      color: #fff;
      grid-area: filters;
      padding: 1rem;
    }

    .guide {
      background: blue;
      color: #fff;
      grid-area: guide;
      padding: 1rem;
    }

    .paging {
      background: purple;
      color: #fff;
      grid-area: page;
      padding: 1rem;
    }

    .results {
      background: honeydew;
      grid-area: results;
      padding: 1rem;
    }

    .searchBox {
      background: antiquewhite;
      grid-area: searchbox;
      padding: 1rem;

      input {
        width: 100%;
      }
    }

    .verts {
      background: goldenrod;
      color: #fff;
      grid-area: verts;
      padding: 1rem;
    }

    @media (max-width: $breakpoint) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'searchbox searchbox' 'filters verts' 'results results' 'results results' 'feedback feedback' 'page page';

      .guide {
        display: none;
      }
    }
  }
}
